body{
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: #c0c0c0;
	text-align: center;
}

img {
	border-radius: 10%;
}

div {
	background-color: #e74c3c;
}

#square{
	width: 100px;
	height: 100px;
	background: blue;
}